
.areahead{
    color: var(--primary-color, #393D46);
text-align: center;
font-family: Noto Serif Tamil;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
}
.areapara{
    display: flex;
width: 100%;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: var(--secondary-color-1, #7D8085);
text-align: center;
font-family: Noto Serif Tamil;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 200%; /* 32px */
letter-spacing: 0.48px;
}
.topareabtn{
    margin-top: 2rem;
    margin-left: 60px;
    margin-bottom: 4rem;
}
.areabtn{
    border-radius: 5px;
    background-color: #fff;
border: 1px solid var(--primary-color, #393D46);
    padding: 20px;
    padding-right: 52px;
    padding-left: 52px;
    margin-left: 10px;
    margin-right: 10px;
}
.areabtnlast{
    border-radius: 5px;
    background-color: #fff;
border: 1px solid var(--primary-color, #393D46);
border-radius: 5px;
border: 1px solid var(--primary-color, #393D46);
padding: 20px;
padding-right: 41px;
padding-left: 41px;
margin-left: 10px;
margin-right: 5px;
}
.areablack{
    border-radius: 5px;
    color: #fff;
    background-color: #393D46;
border: 1px solid var(--primary-color, #393D46);
border-radius: 5px;
border: 1px solid var(--primary-color, #393D46);
padding: 20px;
padding-right: 41px;
padding-left: 41px;
margin-left: 10px;
margin-right: 4px;
}


.mainadd{
    margin-left: 10rem;
    margin-right: 2rem;
    background-color: black;
    height: 180px;
    border-radius: 4px;
    background: linear-gradient(135deg, #7D8085 0%, #393D46 53.86%);
    box-shadow: 0px 15px 25px 15px rgba(0, 0, 0, 0.10);
    width: 78rem;
    margin-bottom: 4rem;
}
.headingadd{
    display: flex;
    position: absolute;
    color: #fff;
    padding-top: 66px;
    padding-left: 6rem;
    font-size: 35px;
}
.paraadd{
    position: relative;
    color: var(--secondary-color-2, #E2E2E2);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.42px;
    margin-left: 56rem;
    border: 1px solid var(--accent-color, #fff);
    margin-top: 65px;
    border-radius: 6px;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.10);
    
}